/*Reset*/
html, body, div, section, article, p, blockquote, ul, li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #00adef;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-field {
    border: 2px solid rgba(7, 4, 16, 0.19);
    font-size: 0;
}

.cell {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: cornsilk;
    cursor: pointer;
    border: 1px solid #00adef;
}

.img {
    height: 100%;
    width: 100%;
}

[data-background-change="success"] {
    background: #2e8b57;
}

[data-background-change="success"] img {
    display: none;
}